#header{
	display: flex;
	height: 100%;
	background-color: rgba(0, 100, 100, 0.5);
	justify-content: flex-start;
}

#header img{
	width: 80px;
	margin-left: 20px;
}
#header ul li{
	display: inline;
	margin-left: 20px;
}
#header ul{
	align-self: flex-end;
}
#header ul .linha{
	display: none;
}

@media(max-width: 1024px){
	#header ul li{
		display: none;
	}
	#header ul .linha{
		display: block;
	}
	#header ul{
		height: 25px;
		width: 20px;
	}
	#header ul .linha{
		width: 20px;
		height: 3px;
		margin-top: 5px;
		border-radius: 25px;
		background-color: black;
		margin-left: -40px;
	}
}