body{
    background-color: rgba(0,0,0,0.2);
    text-align: center;
}

p{
    margin-top: 150px;
}

#modal{
    position: absolute;
    top: 50px;
    left: 300px;
    background-color: white;
    width: 400px;
    height: 200px;
}