body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

p{
    font-size: 15pt;
}

img{
    width: 100px;
    height: 100px;
}

footer{
    background: rgb(150, 217, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1024px){
    #logo-ufc{display: none}
}

@media (max-width: 400px){
    footer{flex-direction: column}
    #logo-ufc{display: block}
}